<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/bulma/0.7.4/css/bulma.min.css">
    <script defer src="https://use.fontawesome.com/releases/v5.3.1/js/all.js"></script>
  <title></title>
  </head>
  <body>
    <ul>
      <li> <a href="{{ url_for('blog.index') }}"> Home </a></li>
      {% if current_user.is_authenticated %}
        <li> <a href="{{ url_for('auth.profile', username=current_user.username, ) }}"> Profile </a> </li>
        <li> <a href="{{ url_for('auth.logout') }}"> SingOut </a> </li>
      {% else %}
        <li> <a href="{{ url_for('auth.register')}}"> Register </a> </li>
      {% endif %}
    </ul>
    <div class="container">
      {% with messages = get_flashed_messages() %}
        {% if messages %}
        <div class="message is-warning">
          {% for message in messages %}
            <div class="message-body">
              {{ message }}
            </div>
          {% endfor %}
        </div>
        {% endif %}
      {% endwith %}
      {% block content %} {% endblock %}
    </div>
  </body>
</html>
